kind: Service
apiVersion: v1
metadata:
  name: {{ webapp_deployment_name }}-nlb
  namespace: {{ common_namespace }}
spec:
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
  selector:
    application: {{ webapp_deployment_name }}
  type: LoadBalancer 
