apiVersion: v1
kind: Service
metadata:
  name: {{ webapp_deployment_name }}-ping
  namespace: {{ common_namespace }}
spec:
  template:
    metadata:
      labels:
        application: {{ webapp_deployment_name }}
        deploymentConfig: {{ webapp_deployment_name }}
      name: {{ webapp_deployment_name }}  
  ports:
  - name: ping
    port: 8888
    protocol: TCP
    targetPort: 8888
  selector:
    deploymentConfig: {{ webapp_deployment_name }}