apiVersion: infinispan.org/v1
kind: Infinispan
metadata:
  name: {{ common_cluster_name }}
  namespace: {{ common_namespace }}
spec:
  security:
    endpointAuthentication: false
    endpointEncryption:
      clientCert: None
      type: None    
  expose:
      type: Route
  replicas: 3
  service:
    type: DataGrid
    sites:
      local: {{ item.local }}
      locations: {{ item.locations }}
  logging:
    categories:
      org.jgroups.protocols.TCP: error
      org.jgroups.protocols.relay.RELAY2: error